.webcam-section, .canvas-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.canvas-section {
    position: absolute;
}

video, canvas {
    height: auto;
    object-fit: contain;
}

video {
    background-color: white;
}

.backdrop,
.word-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
}

.backdrop {
    z-index: 1;
    background-color: black;
    opacity: 0.2;
}

.word-section {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.word-section .random-word {
    font-size: 18px;
    font-weight: bold;
}

.back-button {
    z-index: 3;
    position: absolute;
    left: 10px;
    top: 10px;
}

.word-section img {
    position: absolute;
    right: 10px;
    width: 50px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}