:host ::ng-deep .page-footer button,
:host ::ng-deep p-card {
    width: 100%;
}
:host ::ng-deep .p-card {
    overflow: hidden;
    border-radius: 30px;
    background-color: #4F46E5;
    font-weight: bold;
    color: white;
}

:host ::ng-deep .p-card-body,
:host ::ng-deep .p-card-content {
    padding: 0px;
}

.word-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.item-content {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-label {
    margin: 5px;
}

img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
