/* .exam-container {
  text-align: center;
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  position: relative;
} */

:host ::ng-deep .page-footer button,
:host ::ng-deep p-card {
  width: 100%;
}

:host ::ng-deep .p-card {
  overflow: hidden;
  border-radius: 30px;
  font-weight: bold;
  color: black;
}

:host ::ng-deep .p-card-body,
:host ::ng-deep .p-card-content {
  padding: 0px;
}

.word-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.item-content {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.item-label {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

:host ::ng-deep .p-card.correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

:host ::ng-deep .p-card.incorrect {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */
