<h1>Entrenamiento</h1>
<input type="text" class="input-text" #newClassNameInput pInputText placeholder="Ingresa una palabra" />
<p-button #addClassButton label="Agregar" [rounded]="true" (onClick)="onAddClassClick()" class="button"></p-button>
<p-card *ngFor="let item of dataset" class="card">
    <p class="label m-0">
        {{item.label}}
    </p>
    <p class="images-count m-0">
        {{item.imagesCount}} fotos
    </p>
    <p-button icon="pi pi-camera" [routerLink]="'/training-step2/'+item.index" class="button camera-button"></p-button>
    <div *ngFor="let i of [0, 1, 2, 3, 4]">
        <img [src]="item.images[i]" *ngIf="item.images[i]" class="image">
    </div>
</p-card>
<p-button #trainButton label="Entrenar" [disabled]="!readyToTrain" [rounded]="true" (onClick)="onTrainClick()" class="button train-button"></p-button>
