<div class="page-container">
    <header class="page-header">
        <h1>Entrenamiento</h1>
    </header>
    <main class="page-main">
        <div class="word-container">
            <input type="text" #newClassNameInput pInputText placeholder="Ingresa una palabra" />
            <p-button #addClassButton label="Agregar" [rounded]="true" (onClick)="onAddClassClick()"></p-button>
        </div>
        <div id="word-list" class="word-list">
            <p-card *ngFor="let item of dataset">
                <p class="m-0">
                    {{item.label}}
                </p>
                <p class="m-0">
                    {{item.imagesCount}} fotos
                </p>
                <p-button icon="pi pi-check" [routerLink]="'/training-step2/'+item.index"></p-button>
                <div class="photo-container">
                    <div *ngFor="let i of [0, 1, 2, 3, 4]">
                        <img [src]="item.images[i]" *ngIf="item.images[i]">
                    </div>
                    <img [src]="item.imageGif" *ngIf="item.imageGif">
                </div>
            </p-card>
        </div>

        <p-button #trainButton label="Entrenar" [disabled]="!readyToTrain" [rounded]="true" (onClick)="onTrainClick()"></p-button>
    </main>
</div>