<div class="page-header">
    <h1>Secciones</h1>
</div>
<div class="page-content">
    <div class="section-list">
        <p-card *ngFor="let section of sections">
            <p class="item-label">{{section.section_label}}</p>
            <p-button icon="pi pi-arrow-right" (onClick)="onGoClick(section.section_index)"></p-button>
        </p-card>
    </div>
</div>
<div class="page-footer">
    <p-button class="train-button" #trainButton label="Listo" [rounded]="true" (onClick)="onBackClick()"></p-button>
</div>