<div class="canvas-section">
    <canvas class="output_canvas" #output_canvas></canvas>
</div>
<div class="webcam-section">
    <video #webcam autoplay></video>
</div>

<p-button #dataCollector label="Iniciar" [rounded]="true" (onClick)="onDataCollectClick()"></p-button>
<p-button #back label="Regresar" [rounded]="true" (onClick)="onBackClick()"></p-button>
<br />
<br />
<h5>{{item.label}}</h5>
<p>{{item.imagesCount}} fotos</p>

<div class="photo-container"><img [src]="image" *ngFor="let image of item.images; let index"></div>