<div class="canvas-section">
    <canvas class="output_canvas" #output_canvas></canvas>
</div>
<div class="webcam-section">
    <video #webcam autoplay></video>
</div>
<div class="page-content">
    <div class="actions-section">
        <p-button [label]="collectBtn.label" [rounded]="true" (onClick)="onDataCollectClick()"></p-button>
        <p-button *ngIf="backBtn.visible" [label]="backBtn.label" [rounded]="true" (onClick)="onBackClick()"></p-button>
    </div>
    <div class="label-section">
        <p>{{item.label}}</p>
    </div>
    <div class="image-count-section">
        <p>{{item.images_count}} fotos</p>
    </div>
    <div class="photo-container">
        <img [src]="image" *ngFor="let image of item.images">
    </div>
</div>